@model KVL.Models.Time

@{
    ViewBag.Title = "Novo time";
}

<section class="content-header">
    <h1>
        Novo Time
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Cadastro</a></li>
        <li class="active">Time</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Time</h3>

                    @using (Html.BeginForm("Create", "Time", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.IDPessoa, "Responsável", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("IDPessoa", null, "Selecione o responsável", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IDPessoa, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.sNome, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.sNome, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.sNome, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.sObservacao, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @*@Html.TextAreaFor(model => model.sObservacao, new { htmlAttributes = new { @class = "form-control", @rows = "10", @cols = "50" } })*@
                                    @Html.TextArea("sObservacao",null, 10, 0, new { @id = "sObservacao", @title = "sObservacao", style = "width:100%; float:left" })
                                    @Html.ValidationMessageFor(model => model.sObservacao, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.sSimbolo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input type="file" id="Avatar" name="upload" />
                                    @Html.ValidationMessageFor(model => model.sSimbolo, "", new { @class = "text-danger" })
                                </div>
                                </div>
                            <div class="box-footer">
                                <input type="submit" value="Salvar" class="btn btn-primary" />
                                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="location.href='@Url.Action("Index", "Time")'">Voltar</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
