@model KVL.Models.Time

@{
    ViewBag.Title = "Excluir Time";
}

<section class="content-header">
    <h1>
        Você deseja excluir este time
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Cadastro</a></li>
        <li class="active">Time</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Time</h3>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Pessoa.sNome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Pessoa.sNome)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.sNome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.sNome)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.sSimbolo)
                        </dt>

                        <dd>
                            <img width="100px" height="100px" src="@string.Format("../../imagens/simbolo/" + @Model.sSimbolo,@Model.sSimbolo)" alt="@Model.sSimbolo" />
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.sObservacao)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.sObservacao)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="box-footer">
                            <input type="submit" value="Excluir" class="btn btn-primary" />
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="location.href='@Url.Action("Index", "Time")'">Voltar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>