<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link href="~/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="~/fonts/font-awesome/css/ionicons.min.css" rel="stylesheet" />

    <!-- fullCalendar 2.2.5-->
    <link rel="stylesheet" href="~/Scripts/plugins/fullcalendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/Scripts/plugins/fullcalendar/fullcalendar.print.css" media="print">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Scripts/plugins/iCheck/flat/blue.css">

    <style>
        .modal-content {
            width: 600px !important;
            margin: 30px auto !important;
        }
    </style>
</head>

@if (Session["sFoto"] == null || Session["sFoto"] == "")
{
    Response.Redirect("~/");
}

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            @using Microsoft.AspNet.Identity
            <!-- Logo -->
            <a href="@Url.Action("Index", "Home")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>K</b>VL</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Admin</b>KVL</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Imagens/foto/@Session["sFoto"]" class="user-image" alt="User Image">
                                <span class="hidden-xs">@User.Identity.GetUserName()</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Imagens/foto/@Session["sFoto"]" class="img-circle" alt="User Image">
                                    <p>
                                        @User.Identity.GetUserName()
                                        <small>Membro desde 2015</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="@Url.Action("PerfilTime", "Time")" class="btn btn-default btn-flat">Pefil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="@Url.Action("logout", "Login")" class="btn btn-default btn-flat">Sair</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Imagens/foto/@Session["sFoto"]" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@User.Identity.GetUserName()</p>
                        <a href="@Url.Action("Index", "Home")"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MENU DE NAVEGAÇÃO</li>

                    @if (User.IsInRole("Administrador"))
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-edit"></i> <span>Cadastro</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "Pessoa")"><i class="fa fa-circle-o"></i> Pessoa</a></li>
                                <li><a href="@Url.Action("Index", "Time")"><i class="fa fa-circle-o"></i> Time</a></li>
                                <li><a href="@Url.Action("Index", "Jogador")"><i class="fa fa-circle-o"></i> Jogador</a></li>
                                <li><a href="@Url.Action("JogadorTransferencia", "Jogador")"><i class="fa fa-circle-o"></i> Jogador Transferência</a></li>
                                <li><a href="@Url.Action("Index", "Campo")"><i class="fa fa-circle-o"></i> Campo</a></li>
                                <li><a href="@Url.Action("Index", "HorarioDisponivel")"><i class="fa fa-circle-o"></i> Horário Disponivel</a></li>
                                <li><a href="@Url.Action("Index", "PartidaAmistosa")"><i class="fa fa-circle-o"></i> Partidas Amistosas</a></li>
                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-folder"></i> <span>Campeonato</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "Campeonato")"><i class="fa fa-circle-o"></i> Campeonato</a></li>
                                <li><a href="@Url.Action("Index", "PreInscrito")"><i class="fa fa-circle-o"></i>Times Pré-Inscrição</a></li>
                                <li><a href="@Url.Action("Index", "Inscrito")"><i class="fa fa-circle-o"></i>Times Inscritos</a></li>
                                <li><a href="@Url.Action("Index", "JogadorInscrito")"><i class="fa fa-circle-o"></i> Jogadores Inscritos</a></li>
                                <li><a href="@Url.Action("Index", "CampeonatoGrupo")"><i class="fa fa-circle-o"></i> Grupos</a></li>
                                <li><a href="@Url.Action("Index", "PartidaCampeonato")"><i class="fa fa-circle-o"></i> Partidas</a></li>
                                <li><a href="@Url.Action("GerarPartidasCampeonato", "PartidaCampeonato")"><i class="fa fa-circle-o"></i> Partidas Automático</a></li>
                                <li><a href="@Url.Action("Artilharia", "Campeonato")"><i class="fa fa-circle-o"></i> Artilharia</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-fw fa-wrench"></i> <span>Acesso</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "Login")"><i class="fa fa-circle-o"></i> Login</a></li>
                                <li><a href="@Url.Action("Senha", "Login")"><i class="fa fa-circle-o"></i> Senha</a></li>
                            </ul>
                        </li>

                        <li><a href="@Url.Action("Index", "Sumula")"><i class="fa fa-book"></i> <span>Súmulas</span></a></li>
                        <li><a href="@Url.Action("PerfilTime", "Time")"><i class="fa fa-laptop"></i> <span>Gerênciamento do Perfil</span></a></li>
                        <li><a href="@Url.Action("PartidasTime", "Time")"><i class="fa fa-bars"></i> <span>Partidas do Time</span></a></li>
                        <li><a href="@Url.Action("MarcaPartida", "PartidaAmistosa")"><i class="fa fa-adjust"></i><span>Marcar Amistosos</span></a></li>
                        <li><a href="@Url.Action("IndexTime", "PreInscrito")"><i class="fa fa-book"></i><span>Pré-Inscrição</span></a></li>
                    }
                    else if (User.IsInRole("Arbitro"))
                    {
                        <li><a href="@Url.Action("Index", "Sumula")"><i class="fa fa-book"></i> <span>Súmulas</span></a></li>
                    }
                    else if (User.IsInRole("Usuario"))
                    {
                        <li><a href="@Url.Action("PerfilTime", "Time")"><i class="fa fa-laptop"></i> <span>Gerênciamento do Perfil</span></a></li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-folder"></i> <span>Campeonato</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Artilharia", "Campeonato")"><i class="fa fa-circle-o"></i> Artilharia</a></li>
                                <li><a href="@Url.Action("IndexUsuario", "Sumula")"><i class="fa fa-book"></i> <span>Súmulas</span></a></li>
                            </ul>
                        </li>

                        <li><a href="@Url.Action("PartidasTime", "Time")"><i class="fa fa-bars"></i> <span>Partidas do Time</span></a></li>
                        @*<li><a href="@Url.Action("MarcaPartida", "PartidaAmistosa")"><i class="fa fa-adjust"></i><span>Marcar Amistosos</span></a></li>*@
                        <li><a href="@Url.Action("IndexTime", "PreInscrito")"><i class="fa fa-book"></i><span>Pré-Inscrição</span></a></li>
                    }
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                @RenderBody()
                @{Html.RenderPartial("_Mensagem");}
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.0
            </div>
            <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">

            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab"></div><!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
                <!-- Settings tab content -->
            </div>
        </aside>
    </div><!-- ./wrapper -->
    <!-- jQuery 2.1.4 -->
    <script src="~/Scripts/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Scripts/plugins/jQueryUI/jquery-ui.min1.11.4.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>

    <!-- ChartJS 1.0.1 -->
    <script src="~/Scripts/plugins/chartjs/Chart.min.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/Scripts/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/app.min.js"></script>


    @Scripts.Render("~/bundles/datetime")

    @RenderSection("scripts", required: false)

    <!-- fullCalendar 2.2.5 -->
    <script src="~/Scripts/plugins/fullcalendar/fullcalendar.min.js"></script>

    <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-content">
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();
            // Initalize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });

            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });

            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });

            $('#CancelModal').on('click', function () {
                return false;
            });
        });
    </script>

</body>

</html>
