@model KVL.Models.Jogador

@{
    ViewBag.Title = "Detalhes do Jogador";
}


<section class="content-header">
    <h1>
        Detalhes do jogador
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Cadastro</a></li>
        <li class="active">Jogador</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Jogador</h3>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Pessoa.sNome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Pessoa.sNome)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Posicao.sDescricao)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Posicao.sDescricao)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Time.sNome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Time.sNome)
                        </dd>
                    </dl>
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-default"  onclick="location.href='@Url.Action("Index", "Jogador")'">Voltar</button>
                </div>
            </div>
        </div>
    </div>
</section>