@model IEnumerable<KVL.Models.Cartao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JogadorSumula.IDJogadorSumula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iTipoCartao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dDataCadastro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JogadorSumula.IDJogadorSumula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iTipoCartao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dDataCadastro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDCartao }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDCartao }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDCartao })
        </td>
    </tr>
}

</table>
