@model KVL.Models.HorarioDisponivel

@{
    ViewBag.Title = "Detalhes do Horário";
}

<section class="content-header">
    <h1>
        Detalhes do Horário
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Cadastro</a></li>
        <li class="active">Horário</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Horário</h3>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Campo.sNome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Campo.sNome)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Time.sNome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Time.sNome)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.iDiaSemana)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.iDiaSemana)
                        </dd>


                        <dt>
                            @Html.DisplayNameFor(model => model.sHora)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.sHora)
                        </dd>
                    </dl>
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "HorarioDisponivel", new { id = Model.IDHorario })'">Editar</button>
                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "HorarioDisponivel")'">Voltar</button>
                </div>
            </div>
        </div>
    </div>
</section>
