@model KVL.Models.Gol

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Gol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JogadorSumula.IDJogadorSumula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JogadorSumula.IDJogadorSumula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iQuantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iQuantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dDataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dDataCadastro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDGol }) |
    @Html.ActionLink("Back to List", "Index")
</p>
